.cat {
  display: block;
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  label {
    width: 10%;
    font-size: 20px;
    margin-right: 10px;
  }
  select {
    width: 80%;
  }
}
.link {
  a {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 0;
    background: black;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
  }
}
